body {
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.display-page {
  background-color: azure;
  width: 600px;
}

.info-form {
  display: flex;
  flex-direction: column;
}

.info-form>div {
  display: flex;
  flex-direction: column;
}

.expand-container {
  display: flex;
  flex-direction: column;
}

.operation-icon {
  width: 20px;
}

.add-experience-container {
  flex-direction: row!important;
  justify-content: space-between;
}

.delete-experience-container {
  display: flex;
  gap: 10px;
}